.input-box {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: $text-background;
    border-radius: 2px;
    margin-bottom: 1.2rem;
}

.input-box__icon {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
}

.input-box__textbox {
    margin-left: 1rem;
    padding-bottom: 1.7rem;
    width: 100%;
    height: 3rem;
    border: none;
    background: $text-background;
    border-radius: 2px;
}
